.header
{
  height: 50px;
  width:100%;
  background-color: black;
}
.addpbutton
{
  float: right;
  
cursor: pointer;
  text-align: center;
  background-color: #4caf50;
  padding: 15px 19px;
}
.hidebtn{
  float: right;
  height: 30px;
  width: 50px;
  background-color: none;
  font-size: 30px;
  border: none;
  background-color: bisque;
  cursor: pointer;

 
}


#popup_container
{
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background : rgba(50,50,50,0.5);
  top: 0;
  color: black;

}
#popup
{  
  background :bisque;      
  width : 400px;      
  height : 300px;      
  margin : 150px auto;   
}


.filters
{
  display: flex;
  justify-content: center;
  background-color: bisque;
 
}
/* .sort_by
{
 
  height: 20px;
  width: 50px;
} */

.upload_form
{padding:50px;
  display: inline-block;
 
}


.product_container
{
    display: inline-block;
    width: 300px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
   
    text-align: center;
    background-color: bisque;
    

}


  .product_container img {
    max-width: 100%;
    height: auto;
   
  }
  .product_container .price {
    font-size: 1.25rem;
    color: #f00;
    font-weight: bold;
    margin-bottom: 10px;
  }

  input.product_name {
    margin-left: 22px;
    
}

input.product_price {
  margin-left: 25px;
  margin-top: 20px;
}
input.btn {
  height: 40px;
  width: 70px;
  margin-left: 90px;
  margin-top: 30px;
  background-color: #4caf50;
  border:none ;
  cursor: pointer;
}
input.file_input {
  margin-left: 109.5px;
  margin-top: -20px;
}
